<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>
</head>
<body class="container">
    <form method="POST" action="/add_company/">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Send" >
    {% if companies.count > 0 %}
    <h2>Список компаний</h2>
    <table>
        <thead><th>Id</th><th>Имя</th></thead>
        {% for company in companies %}
        <tr>
            <td>{{ company.id }}</td>
            <td>{{ company.name }}</td>
            <td>
                <button>
                    <a href="/company/{{company.id}}">Компания</a>
                </button>
                <button>
                    <a href="/remove_company/{{company.id}}">Удалить</a>
                </button>
             </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>