<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Django Forms</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Send" >
</form>
<br>
<label for="chbx">lol checkbox</label>
<input type="checkbox" id="chbx" class="forms.BooleanField">
<br>
<label for="slct">lol selection</label>
<select id="slct" class="forms.NullBooleanField">
    <option value="1" selected="selected">Unknown</option>
    <option value="2">Yes</option>
    <option value="3">No</option>
</select>
<br>
<label for="intxt">lol input text</label>
<input type="text" id="intxt" class="forms.CharField">
<br>
<label for="inemail">lol input email</label>
<input type="email" id="inemail" class="forms.EmailField">

</body>
</html>